#root {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f4f6fa !important;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {

  font-family: Rubik;
  font-weight: 300;

}

.quiz-wrapper {
  margin-top: 99px;
}

/* .quiz-right {} */

.quiz-right-div {
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 24px;


  img {
    padding: 8px;
    background-color: #FFF1E9;
    border-radius: 8px;
  }

  p {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #313E51;
  }
}

.option-img {
  padding: 0%;
  background-color: transparent !important;

}

.quiz-left-span1 {

  font-size: 64px;
  line-height: 64px;
  text-align: left;
  color: #313E51;

}


.quiz-left-span2 {

  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  color: #313E51;
  margin-top: 8px;
  text-align: left;
}

.quiz-left-span3 {

  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #626C7F;
  margin-top: 48px;


}

.optionsDiv {
  gap: 10px;
  padding: 18px;
}

.option-one {

  padding: 16px 18px 12px 18px;
  background-color: #F4F6FA;
  border-radius: 8px;


  span {

    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #626C7F;
  }


}

.option-two {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #313E51;
}

.submitAnswer {
  margin-top: 32px;
  padding-block: 32px;
  background-color: #A729F5;
  border-radius: 24px;

  span {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #fff;
  }
}

.red {
  border: 3px solid var(--Red, #EE5454);
  -webkit-transition: border 200ms ease-out;
  -moz-transition: border 200ms ease-out;
  -o-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.green {
  border: 3px solid var(--Green, #26D782)
}