#root {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f4f6fa !important;
  user-select: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {

  font-family: Rubik;
  font-weight: 300;

}

.quiz-wrapper {
  margin-top: 99px;
}

/* header */

.HTML {
  img {
    padding: 8px;
    background-color: #FFF1E9;
    border-radius: 8px;
  }
}

.CSS {
  img {
    padding: 8px;
    background-color: #E0FDEF;
    border-radius: 8px;
  }

}

.JavaScript {
  img {
    padding: 8px;
    background-color: #EBF0FF;
    border-radius: 8px;
  }
}


.Accessibility {
  img {
    padding: 8px;
    background-color: #F6E7FF;
    border-radius: 8px;
  }

}


.header-span {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #313E51;

}


.quiz-right-div {
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 24px;


  p {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #313E51;
  }
}

.quiz-right-div-two {
  padding: 48px;

  div {

    img {
      padding: 8px;
      background-color: #FFF1E9;
      border-radius: 8px;
    }
  }

  p {
    margin-top: 40px;
    font-size: 144px;
    font-weight: 500;
    line-height: 144px;
    text-align: left;
    color: #313E51;

  }

  h6 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #626C7F;
  }
}

.option-img {
  padding: 0%;
  background-color: transparent !important;

}


.quiz-left-div {
  height: 400px;
  position: relative;
}

.quiz-left-span1 {

  font-size: 64px;
  line-height: 64px;
  text-align: left;
  color: #313E51;

}


.quiz-left-span2 {

  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  color: #313E51;
  margin-top: 8px;
  text-align: left;
}

.quiz-left-span2-quiz {
  margin-top: 27px;
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  text-align: left;


}

.quiz-left-span3 {

  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #626C7F;
  margin-top: 48px;


}


.zehra {
  padding: 1px 20px;

  span {
    background-color: #A729F5;
  }
}

.optionsDiv {
  gap: 10px;
  padding: 18px;
}

.option-one {

  padding: 16px 18px 12px 18px;
  background-color: #F4F6FA;
  border-radius: 8px;


  span {

    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #626C7F;
  }


}

.purple {
  background-color: #A729F5;

  span {
    color: #fff;

  }
}

.greenBg {
  background-color: #26D782;

  span {
    color: #fff;
  }
}

.redBg {
  background-color: #EE5454;

  span {
    color: #fff;
  }
}

.optionBground {

  border: 3px solid #A729F5 !important;

  .option-one {
    background-color: #A729F5;

    span {
      color: #fff;

    }
  }
}

.option-two {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #313E51;
}

.submitAnswer {
  border: none;
  /* margin-top: 32px; */
  padding-block: 32px;
  background-color: #A729F5;
  border-radius: 24px;

  span {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #fff;
  }
}


.border {
  border: 2px solid #A729F5 !important;

}

.bos {
  border: 2px solid #A729F5;
}


.red {
  border: 2px solid var(--Red, #EE5454);
  -webkit-transition: border 200ms ease-out;
  -moz-transition: border 200ms ease-out;
  -o-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.green {
  border: 2px solid var(--Green, #26D782);
  -webkit-transition: border 200ms ease-out;
  -moz-transition: border 200ms ease-out;
  -o-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.submitAnswerBtn {

  div {
    /* margin-top: 20px; */

    p {
      text-align: center;
      padding: 2px 5px;
      border: 2px solid red;
      border-radius: 50%;
      color: #EE5454;
      font-weight: 500;
      margin: 0;
    }

    span {
      color: #EE5454;
      text-align: center;
    }
  }
}

.radioDiv {

  margin-top: 164px;
  padding-inline: 10px 40px;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  height: 10px;
  background: white;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  position: relative;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: #000; */
  /* Thumb rengi */
  cursor: pointer;
  position: relative;
  z-index: 2;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
  background: transparent;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  z-index: 2;
}



/* tablet */


@media (width <=1280px) {

  .quiz-left-span1,
  .quiz-left-span2 {
    font-size: 48px;
  }

  .quiz-left-span2-quiz {
    font-size: 25px;
  }

  .option-two {
    font-size: 15px;
  }
}


@media (width <=768px) {
  .quiz-right {

    margin-top: 24px;
  }

  .quiz-left-div {
    height: 250px;
    position: relative;
  }

}